@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-unmaris-50: #f0f9ff;
    --color-unmaris-100: #e0f2fe;
    --color-unmaris-500: #0ea5e9;
    --color-unmaris-600: #0284c7;
    /* Primary */
    --color-unmaris-700: #0369a1;
    --color-unmaris-900: #0c4a6e;
    /* Sidebar Dark */
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}